# Node project mode: development or production
NODE_ENV=development

# The PORT to run the application
PORT=8080

# Marvel API Key, create one in https://developer.marvel.com
MARVEL_APIKEY=b60...

# Limit the amount of register requested from server
LIMIT_COUNT=10
