html,
body {
	height: 100%;
	background-color: #333;
}

body {
	color: black;
	text-align: center;
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	z-index: 1;
}

.site-wrapper::before {
	background: url(../images/marvel-comics.jpg);
    opacity: .4;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}

.container .text-muted {
	margin: 10px 0;
	font-family: monospace;
}

#main.container{
	background: #fafafa;
	height: calc(100% - 80px);
	min-height: 670px;
	margin: 20px auto;
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px darkgrey;
}

.search-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.panel-body {
	text-align: justify;
}

#comic-list:not(:empty)  {
    max-height: 520px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
	padding: 10px;
}

#comic-list + .pagination {
	margin-bottom: 50px;
    margin-top: 0;
}